
<form class="boilerform" action="/new" method="POST">
    <fieldset class="c-form">
        <legend class="c-form__heading">Edit recipe in the cookbook</legend>
        <div class="c-form__row">
            <label for="name" class="c-label">Name</label>
            <input type="text" name="name" id="name" class="c-input-field" value="" autocorrect="off" required />
        </div>
        <div class="c-form__row">
            <label for="description" class="c-label">Description</label>
            <input type="text" name="description" id="description" class="c-input-field" value="" autocorrect="off" required />
        </div>
        <div class="c-form__row">
            <label for="prep_time" class="c-label">Prep Time</label>
            <input type="text" name="prep_time" id="prep_time" class="c-input-field" value="" autocorrect="off" required />
        </div>
        <div class="c-form__row">
            <label for="difficulty" class="c-label">Difficulty</label>
            <input type="text" name="difficulty" id="difficulty" class="c-input-field" value="" autocorrect="off" required />
        </div>
        <input type="submit" value="Enviar">
    </fieldset>
</form>